<div class="container text-center">
  <div class="py-5 px-4">
    <table class="table ">
      <thead>
        <th>名前</th>
        <th>学部</th>
        <th>学年</th>
        <th></th>
      </thead>
      <tbody>
      <% @customers.each do |customer| %>
        <% if customer.is_deleted == false && customer.anonymity == false %>
          <tr>
            <td><%= customer.full_name %></td>
            <td><%= customer.faculty %></td>
            <td><%= customer.school_year %></td>
            <td><%= link_to "詳細", customer_path(customer) %></td>
          </tr>
        <% end %>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
