// Place all the styles related to the public/chats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.my_message {
  display: flex;
  justify-content: flex-end;
}

.my_fukidashi{
  display: inline-block;
  border-radius: 8px;
  background: #f1f1f1;
}

.your_message {
  display: flex;
  justify-content: flex-start;;
}
.your_fukidashi {
  display: inline-block;
  border-radius: 8px;
  background: #EAE0DA;
  
}

.chat_room {
  padding: 20px 10px;
  max-width:  650px;
  margin: 15px auto;
}