トークルーム
<div id='chat-messages'>
  <%= render @chat_messages %>
</div>
<form>
  <textarea data-behavior="chat_speaker" data-chat_id="<%= @chat.id %>" placeholdder="メッセージ" class="chat_message_form"></textarea>
</form>
