<div class="chat-message">
  <% if chat_message.customer.id == current_customer.id %>
    <div class="my_message">
      <%= chat_message.content %>
    </div>
  <% else %>
    <div class="your_message">
      <%= chat_message.content %>
    </div>
  <% end %>
</div>