
  <div class="chat-message">
    <% if chat_message.customer.id == current_customer.id %>
    <div class="my_message">
      <div class="my_fukidashi">
        <%= chat_message.content %>
      </div>
    </div>
    <% else %>
      <div class="your_message">
        <div class="your_fukidashi">
          <%= chat_message.content %>
        </div>
      </div>
    <% end %>
  </div>
